<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Backbonejs</title>
</head>
<body>

<div id="tasks"></div>

  <!-- 外部templateを使う -->
  <script type="text/template" id="task-t">
    title => <%- title %>
  </script>
  <script src="js/underscore.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/app.js"></script>
</body>
</html>