<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Backbonejs</title>
  <style type="text/css">
    .completed {
      text-decoration: line-through;
      color: gray;
    }
  </style>
</head>
<body>

  <h1>TODOリスト</h1>

    <form id="addTask">
      <input type="text" id="title">
      <input type="submit" value="項目追加">
      <span id="error"></span>
    </form>

  <div id="tasks">
  </div>

  <p>残りタスク数: <span id="count"></span></p>

  <script type="text/template" id="task-template">
    <!-- checkbox作成 completedの値によってcheckの有無が決まるので三項演算子使用-->
    <input type="checkbox" class="toggle" <%= completed ? 'checked': '' %>>
    <span class="<%= completed ? 'completed' : '' %>">
      <%- title %>
    </span>

    <!-- deleteボタン これに対してクリックイベントを設定する -->
    <span class="delete">[ x ]</span>
  </script>

  <script src="js/underscore.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/app.js"></script>
</body>
</html>